@use '../../colors';

.register {
	max-width: 340px;
	margin: 0 auto;
	padding: 50px 30px 30px 30px;
	border-radius: 12px;
	box-shadow: 0 0 6px 0 colors.$shadow;

	&__title {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 40px;
	}

	&__wrapper {
		margin-bottom: 62px;
		.error {
			padding-left: 10px;
			text-align: left;
			margin-top: 7px;
			font-size: 8px;
			line-height: 8px;
			color: colors.$light-red;
		}
	}

	&__btns {
		display: flex;
		flex-direction: column;
		row-gap: 14px;
	}
}
