@use '../../colors';

.button {
	border-radius: 8px;
  border: 1px solid transparent;
	padding: 12px 70px;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	color: colors.$white;
	background: colors.$blue;
	cursor: pointer;

	&.link {
		border: none;
		color: colors.$blue;
		background: inherit;
	}

	&:focus {
		outline: none;
	}

	&.back {
		padding: 0;
		color:  colors.$blue;
		background: inherit;
		border: none;
	}
}
