@use '../../colors';

.button {
	border-radius: 8px;
  border: 1px solid transparent;
	padding: 12px 70px;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	color: colors.$white;
	background: colors.$blue;
	cursor: pointer;

	&.link {
		border: none;
		color: colors.$blue;
		background: inherit;
	}

	&:focus {
		outline: none;
	}

	&.back {
		padding: 0;
		color:  colors.$blue;
		background: inherit;
		border: none;
	}

	&.chat {
		margin-bottom: 10px;
	}

	&.exit {
		color: colors.$red;
		background: inherit;
		padding: 0;
		border: none;
		border-radius: 0;
		display: flex;
		align-items: flex-start;
	}

	&.icon {
		padding: 0;
		border-radius: 0;
		border: none;
		cursor: pointer;
		background: url(../../assets/icons/arrow-blue.svg);
		background-size: contain;
		background-repeat: no-repeat;
		transform: rotate(180deg);
		width: 28px;
		height: 28px;
	}
}
