@use '../../colors';

.chatCard {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	cursor: pointer;
	border-top: 1px solid colors.$grey;
	border-bottom: 1px solid colors.$grey;

	&__icon {
		background: url(../../assets/photo.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 47px;
		height: 47px;
		margin-right: 10px;
	}
	
	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 193px;
		text-align: left;
	}

	&__title {
		font-size: 13px;
		line-height: 13px;
		font-weight: 600;
		margin-bottom: 4px;
	}

	&__description {
		font-size: 12px;
		line-height: 15px;
		color: colors.$dark-grey;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__date {
		font-size: 9px;
		line-height: 13px;
		color: colors.$dark-grey;
	}

	&__active {
		background: colors.$light-blue;
	}
}
