<li class="chatCard {{#if active}}chatCard__active{{/if}}">
	<div class="chatCard__icon"></div>
	<div class="chatCard__wrapper">
		<div class="chatCard__title">{{name}}</div>
		<div class="chatCard__description">{{message}}</div>
	</div>
	<div class="chatCard__date">{{date}}</div>
	<div class="chatCard__notification"></div>
</li>
