@use '../../colors';

.chats {
	display: flex;

	&__profiles {
		display: flex;
		flex-direction: column;
		padding: 21px 0;
		max-width: 310px;
		background: colors.$light-grey;
	}

	&__link {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 8px;
		padding: 0 10px;
		font-size: 12px;
		line-height: 12px;
		color: colors.$dark-grey;

		&:hover {
			color: black;
		}
	}

	&__arrowLink {
		background: url(../../assets/icons/arrow-gray.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 8px;
		height: 10px;
		&:hover {
			color: black;
		}
	}

	&__search{
		.input__element {
			position: relative;
			border: none;

			&::placeholder {
				text-align: center;
			}
		}
	}
}
