<div class="dialog">
	<div class="dialog__container">
		<div class="dialog__title">Загрузите файл</div>
		{{> Input class="file" type="file" name="avatar" label="Выбрать файл на компьютере" }}
		{{> Button label="Поменять" type="submit" }}
	</div>
</div>
{{#dialog}}{{/dialog}}