<div class="resetPassword">
	<form class="resetPassword__wrapper">
		<div class="resetPassword__background">
			<img class="resetPassword__image" src="{{avatar}}" alt="Здесь должен быть ваш аватар">
		</div>
		<div class="resetPassword__item">
			<div class="resetPassword__label">Старый пароль</div>
			{{> Input class="edit" name="oldPassword" type="password" placeholder="•••••••••" }}
		</div>
		<div class="resetPassword__item">
			<div class="resetPassword__label">Новый пароль</div>
			{{> Input class="edit" name="newPassword" type="password" placeholder="•••••••••••••" }}
		</div>
		<div class="resetPassword__item">
			<div class="resetPassword__label">Повторите новый пароль</div>
			{{> Input class="edit" name="newPassword" type="password" placeholder="•••••••••••••" }}
		</div>
	</form>
</div>
{{> Button label="Сохранить" type="save" }}
<div class="resetPassword__back">
	<div class="profile__icon"></div>
</div>
{{#if showDialog}}
	{{#> Dialog}}{{/ Dialog}}
{{/if}}